body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  line-height: auto;
}

h2 {
  font-size: 24px;
  line-height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  background: #000000;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.main-navigation li{
  display: inline;
  margin-right:35px;
}

.main-header a {
    color:#ffffff;
    text-decoration:none;
}

.user-block{
  float: right;
  width: 140px;
  min-height: 70px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  float:left;
  width:940px;
  min-height:85px;
  margin-bottom:50px;
}

.breadcrumbs li,
.breadcrumbs p {
  display: inline;
}

.breadcrumbs a {
  text-decoration:none;
  color:#000000;
}

.forms {
  float:left;
  width:170px;
  min-height:580px;
  margin-right:65px;
}

.forms label {
  display: block;
}

.card-layout {
  float:right;
  width:700px;
  height:700px;
}

article {
  float:left;
  width:220px;
  height:285px;
  margin-right:20px;
  margin-bottom:20px;
}

article:nth-child(3n+3){
 margin-right:0px;
}

.btn-pages {
 float:left;
 height:55px;
 min-width:195px;
 background:red;
}

.btn-pages li{
  display:inline;
}

.picture {
  float:left;
  width:470px;
  height:685px;
  margin-right:80px;
}

.description {
  float:right;
  width:390px;
  min-height:195px;
  margin-bottom:30px;
}

.price {
  width:188px;
  min-height:45px;
  margin-bottom:50px;
  background:red;
}

.list {
  float:right;
  width:390px;
  min-height:175px;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  color:#ffffff;
  background: #262626;
}

.footer-contacts {
  float: left;
  width: 400px;
  margin-right: 70px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 160px;
  min-height: 20px;
}

.footer-copyright {
  float: right;
  width: 160px;
  min-height: 90px;
}

.footer-contacts a,
.footer-social a,
.footer-copyright a {
  color:#ffffff;
  text-decoration:none;
}

.footer-contacts a {
  text-decoration:underline;
}
